.paragraph_style {
    color: rgb(131, 14, 0);
    font-family: 'Impact', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 58px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(131, 14, 0);
    font-family: 'Impact', sans-serif;
    font-size: 30px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Book', 'Avenir';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Black', 'Avenir';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-family: 'Avenir-Book', 'Avenir';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    vertical-align: 6px;
}
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Book', 'Avenir';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'Avenir-Black', 'Avenir';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
}
.paragraph_style_5 {
    color: rgb(131, 14, 0);
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 29px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(255, 255, 255);
    font-family: 'Impact', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 58px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_7 {
    color: rgb(255, 255, 255);
    font-family: 'Impact', sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_8 {
    color: rgb(255, 255, 255);
    font-family: 'Impact', sans-serif;
    font-size: 35px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent url(C000000E5.png) repeat scroll center center;
    opacity: 0.59;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_277_129 {
    position: relative;
}
.graphic_shape_layout_style_default_External_452_74 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(255, 255, 255);
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_1199_288 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_174_61 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_339_48 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_201_48 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_141_48 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_59_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_1243_308 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_371_48 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_89_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_449_61 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_1249_283 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_115_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_185_40 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_133_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_122_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_1204_283 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_284_61 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_163_42 {
    position: relative;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1 {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class2 {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class2:hover {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class3 {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class3:visited {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class3:hover {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class4 {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class4:visited {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class4:hover {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class5 {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class5:visited {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a.class5:hover {
    color: rgb(131, 14, 0);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
